@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--primary-bg-color);
}
