:root {
  --primary-font-color: #212121;
  --secondary-font-color: rgba(33, 33, 33, 0.75);
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #F5F5F5;
  --border-color: rgba(33, 33, 33, 0.25);
  --map-bg-color: #F3F3F3;
  --link-color: #005FF9;
}
