.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);

  .footer__upper_layer {
    width: 100%;
    display: flex;
    justify-content: center;

    .footer__upper_layer__group {
      padding: 10px 40px;
      border-right: 1px solid var(--border-color);

      &:last-child {
        border-right: none;
      }

      .footer__upper_layer__group__logo_block {
        height: calc(100% - 12px);
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 30px;

        .footer__upper_layer__group__logo_block__gov_logo {
          width: 40px;
          height: 40px;

          .footer__upper_layer__group__logo_block__gov_logo__link {
            width: 100%;
            height: 100%;
          }
        }

        .footer__upper_layer__group__logo_block__nop_logo {
          height: 100%;

          .footer__upper_layer__group__logo_block__nop_logo__link {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: var(--primary-font-color);
            }
          }
        }
      }

      .footer__upper_layer__group__links_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        .footer__upper_layer__group__links_list__item {
          width: fit-content;

          .footer__upper_layer__group__links_list__item__link {
            text-decoration: none;

            &:hover {
              p {
                color: var(--link-color);
              }
            }

            p {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: var(--primary-font-color);
              transition: .1s linear;
            }
          }
        }
      }

      .footer__upper_layer__group__contacts_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;

        .footer__upper_layer__group__contacts_list__item {
          width: fit-content;

          .footer__upper_layer__group__contacts_list__item__link {
            text-decoration: none;

            &:hover {
              p {
                color: var(--link-color);
              }
            }

            p {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: var(--primary-font-color);
              transition: .1s linear;
            }
          }
        }
      }
    }
  }

  .footer__lower_layer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: var(--primary-font-color);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {

    .footer__upper_layer {
      flex-direction: column;
      gap: 30px;

      .footer__upper_layer__group {
        padding: 10px;
        border-right: none;

        &:first-child {
          display: none;
        }

        .footer__upper_layer__group__logo_block {

          .footer__upper_layer__group__logo_block__gov_logo {

            .footer__upper_layer__group__logo_block__gov_logo__link {

            }
          }

          .footer__upper_layer__group__logo_block__nop_logo {

            .footer__upper_layer__group__logo_block__nop_logo__link {

              h2 {

              }
            }
          }
        }

        .footer__upper_layer__group__links_list {

          .footer__upper_layer__group__links_list__item {

            .footer__upper_layer__group__links_list__item__link {

              p {

              }
            }
          }
        }

        .footer__upper_layer__group__contacts_list {

          .footer__upper_layer__group__contacts_list__item {

            .footer__upper_layer__group__contacts_list__item__link {

              p {

              }
            }
          }
        }
      }
    }

    .footer__lower_layer {
      height: 70px;

      p {

      }
    }
  }
}
