.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 20px;
  z-index: 999;

  .header__upper_layer {
    width: 1200px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);

    .header__upper_layer__group {
      height: 100%;
      display: flex;
      align-items: center;

      .header__upper_layer__group__logo_block {
        height: calc(100% - 12px);
        display: flex;
        align-items: center;
        gap: 10px;
        padding-right: 30px;
        border-right: 1px solid var(--border-color);

        .header__upper_layer__group__logo_block__gov_logo {
          width: 40px;
          height: 40px;

          .header__upper_layer__group__logo_block__gov_logo__link {
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }

        .header__upper_layer__group__logo_block__nop_logo {
          height: 100%;

          .header__upper_layer__group__logo_block__nop_logo__link {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;

            h1 {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: var(--primary-font-color);
            }

            h2 {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: var(--primary-font-color);
            }
          }
        }
      }

      .header__upper_layer__group__contacts {
        height: 100%;
        padding-left: 10px;

        .header__upper_layer__group__contacts__list {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px 0;
          list-style: none;

          .header__upper_layer__group__contacts__list__item {
            width: fit-content;

            .header__upper_layer__group__contacts__list__item__link {
              display: flex;
              align-items: center;
              gap: 10px;
              text-decoration: none;

              &:hover {

                .header__upper_layer__group__contacts__list__item__link__icon {
                  color: var(--link-color);
                }

                p {
                  color: var(--link-color);
                }
              }

              .header__upper_layer__group__contacts__list__item__link__icon {
                color: var(--primary-font-color);
                transition: .1s linear;
              }

              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: var(--primary-font-color);
                transition: .1s linear;
              }
            }

            .header__upper_layer__group__contacts__list__item__link__active {
              @extend .header__upper_layer__group__contacts__list__item__link;

              p {
                color: var(--link-color);
              }
            }
          }
        }
      }

      &:last-child {
        align-items: flex-start;
      }

      .header__upper_layer__group__langs {
        height: 100%;
        display: flex;

        .header__upper_layer__group__langs__list {
          display: flex;
          list-style: none;

          .header__upper_layer__group__langs__list__item {
            height: fit-content;
            padding: 0 7px;
            border-right: 1px solid var(--primary-font-color);

            &:last-child {
              border-right: none;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: var(--primary-font-color);
              cursor: pointer;
              transition: .1s linear;

              &:hover {
                color: var(--link-color);
              }
            }
          }

          .header__upper_layer__group__langs__list__item__active {
            @extend .header__upper_layer__group__langs__list__item;

            p {
              color: var(--link-color);
            }
          }
        }
      }

      .header__upper_layer__group__menu {
        display: none;
      }
    }
  }

  .header__lower_layer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s linear;

    .header__lower_layer__navigation {
      width: 1200px;

      .header__lower_layer__navigation__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        list-style: none;

        .header__lower_layer__navigation__list__item {

          .header__lower_layer__navigation__list__item__link {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 20px;
            transition: .1s linear;

            &:hover {
              .header__lower_layer__navigation__list__item__link__icon {
                color: var(--link-color);
              }

              p {
                color: var(--link-color);
              }
            }

            .header__lower_layer__navigation__list__item__link__icon {
              color: var(--primary-font-color);
              transition: .1s linear;
            }

            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 16px;
              color: var(--primary-font-color);
              transition: .1s linear;
            }
          }

          .header__lower_layer__navigation__list__item__link__active {
            @extend .header__lower_layer__navigation__list__item__link;

            background-color: var(--link-color);
            color: #FFFFFF;

            .header__lower_layer__navigation__list__item__link__icon {
              color: #FFFFFF;
            }

            p {
              color: #FFFFFF !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 15px;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 8px 0;

    .header__upper_layer {
      width: 100%;
      border-bottom: none;
      height: 40px;

      .header__upper_layer__group {

        .header__upper_layer__group__logo_block {
          border-right: none;
          gap: 5px;

          .header__upper_layer__group__logo_block__gov_logo {
            width: 40px;
            height: 40px;

            .header__upper_layer__group__logo_block__gov_logo__link {

            }
          }

          .header__upper_layer__group__logo_block__nop_logo {

            .header__upper_layer__group__logo_block__nop_logo__link {

              h1 {
                font-size: 11px;
                line-height: 14px;
              }

              h2 {
                font-size: 11px;
                line-height: 14px;
              }
            }
          }
        }

        .header__upper_layer__group__contacts {
          display: none;

          .header__upper_layer__group__contacts__list {

            .header__upper_layer__group__contacts__list__item {

              .header__upper_layer__group__contacts__list__item__link {

                .header__upper_layer__group__contacts__list__item__link__icon {

                }

                p {

                }
              }

              .header__upper_layer__group__contacts__list__item__link__active {

                p {

                }
              }
            }
          }
        }

        &:last-child {
          align-items: center;
        }

        .header__upper_layer__group__langs {
          display: none;

          .header__upper_layer__group__langs__list {

            .header__upper_layer__group__langs__list__item {

              &:last-child {
                border-right: none;
              }

              p {

              }
            }

            .header__upper_layer__group__langs__list__item__active {
              p {

              }
            }
          }
        }

        .header__upper_layer__group__menu {
          display: block;
          width: 30px;
          height: 30px;

          color: var(--primary-font-color);
        }
      }
    }

    .header__lower_layer {
      display: none;

      .header__lower_layer__navigation {
        width: 100%;
        display: none;

        .header__lower_layer__navigation__list {

          .header__lower_layer__navigation__list__item {

            .header__lower_layer__navigation__list__item__link {

              .header__lower_layer__navigation__list__item__link__icon {

              }

              p {

              }
            }

            .header__lower_layer__navigation__list__item__link__active {

              .header__lower_layer__navigation__list__item__link__icon {

              }

              p {

              }
            }
          }
        }
      }
    }
  }
}
